DISCORD_TOKEN=MTUxNDYzMDQxNTE2NjQ3MjQzMg.GK0Dh7.nsG1x3NX67KaTbCBN6ejcOghA6nr-cVN5GctO4
PREFIX=/
MONGODB_URI=mongodb+srv://nahouli2012_db_user:<db_password>@lillypad.ui3sh7d.mongodb.net/?appName=LILLYPAD
